<a href="https://colab.research.google.com/github/kyh018/ohyun_basic-coding/blob/main/2023_05_25_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 함수의 기본 개념

## 1.1함수
- 코드 재사용 가능
- 실수 감소
- 코드의 구조 파악이 쉬움
- 코드의 길이가 짧아짐

In [5]:
def 덧셈():
  pass

###1.1.1 funtion
1. 함수의 정의 : def
2. 함수를 입력 : 파라미터
3. 함수의 기능과 연산
  함수 범위 : 들여쓰기
  들여쓰기 : 공백 4번(권장) / 탭
4. 함수를 출력 : return
 return 이 없으면 None
5. 한수 호출 : 함수명()

In [6]:
def printnum(): #함수 정의
  #함수 호출
  print("1") 
  print("2")
  print("3")

printnum() #함수 호출

1
2
3

In [7]:
def printnum(): #함수 정의
  #함수 호출
  print("1") 
  print("2")
print("3")

printnum() #함수 호출

3
1
2

In [9]:
def function(x,y):
  z=x+y
  return z

function(2,5)

7

In [12]:
def function(x,y):
  z=x+y
  print(z)

print(function(2,5))

7
None

In [17]:
PI = 3.14

def circle(r, inputpi):
  z= r*r*inputpi
  return z

result = circle(10,PI)
print(result)

314.0

### 1.1.2 함수 안에 함수 만들기

In [20]:
def print_text():
  text = "python 기초"
  def print_text2():
    print(text)
  print_text2()
print_text()

python 기초

### 1.1.3 함수의 아규먼트와 파라미터

In [25]:
def f(a,b,c):
  print(a,b,c)

#f() # error
#f(100,10) #error
#f(10,20,30)
#f(c=300, a=100, b=200)

10 20 30
100 200 300

In [27]:
def f(a=10,b=20,c=30):
  print(a,b,c)

#f() # error
#f(100,10) #error
#f(10,20,30)
#f(c=300, a=100, b=200)

10 20 30
100 10 30

In [30]:
def f(a,b=20,c=30):
  print(a,b,c)
  
#f() # error
#f(100,10) #error
#f(10,20,30)
#f(c=300, a=100, b=200)

100 20 30

#2 지역변수와 전역변수
지역변수
-함수 내부에서만 사용되는 변수
-함수가 호출되는 동안에만 변수를 사용할 수 있고 함수가 끝나면 동시에 소멸됨
-함수 안에서 함수 밖에 있는 변수를 호출할 수 없음

전역 변수
-프로그램 어디에서나 공급이 가능한 변수
함수 내에서 global를 입렬하면 전역변수가 된다.
하지만, 전역변수 사용을 권장하지 않음

##2.1 지역변수

In [37]:
 a = 100
def f(a):
  a= a+1
  print(a)

f(a)

101

## 2.2 전역변수

In [35]:
a = 100

def f():
  global a
  a=a+1
  return a

result = f()
print("result :",result)

result : 101

#3 재귀함수(recursion)
내가 나를 호출하여 반복적으로 값을 반환하는 함수

In [38]:
#import sys
#sys.setrecursionlimit
def 숫자출력():
  print(1)
  return 숫자출력()

숫자출력()

##3.1 무한 반복에 종료 조건을 부여

In [40]:
#import sys
#sys.setrecursionlimit
def 숫자출력(count):
  if count> 100:
    return
  print(count)
  return 숫자출력(count+1)

숫자출력(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

##3.2 factorial 함수

In [42]:
def factorial(n):
  if n==1:
    return 1
  else:
    return n *factorial(n-1)

factorial(int(input()))

10

3628800