<a href="https://colab.research.google.com/github/kyh018/ohyun_basic-coding/blob/main/2023_05_30_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. for문
정해진 순서열을 반복하는 것

In [ ]:
# 튜플의 길이만큼 문장을 반복
for x in (1,2,3,4,5):
	print(f'{x}번째 입니다.')

1번째 입니다.
2번째 입니다.
3번째 입니다.
4번째 입니다.
5번째 입니다.

## 1.1 for문의 기본구조
for문은 순서열을 순회하며 순서열의 끝에 도달하면 반복을 멈추게 됨 <br>
객체를 처음부터 끝까지 하나씩 추출하며 순회하기 때문에 사용법이 쉬워 가장 많이 사용<br>
while은 비교할 변수를 먼저 선언해주어야 하기 때문에, 비교적 for를 더 많이 사용

In [ ]:
# x는 다른 언어처럼 초기화 하지 않아도 작동
for x in (1,2,3,4,5):
	print(f'{x}번째')

1번째
2번째
3번째
4번째
5번째

In [ ]:
#for 문의 구조
# for 문의 범위 : 시퀀스 자료형, 반복(순회) 가능한 자료형
for (변수명) in (순회 가능한 객체) :
    수행할 문장1
		수행할 문장2

In [ ]:
# 1. String(문자열)을 범위로 지정한 예시
문자열 = 'hello world'
for a in 문자열 :
    print(a)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# 2. List(리스트)를 범위로 지정한 예시
리스트 = ['하나', '둘', '셋', '넷', '다섯']
for a in 리스트:
    print(a)

하나
둘
셋
넷
다섯

In [ ]:
# 3. Dictionary(사전)을 범위로 지정한 예시
# Dictionary(사전)형 자료의 경우에는 key(키)만을 가져오게 됨
딕셔너리 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for a in 딕셔너리:
    print(a)

하나
둘
셋

In [ ]:
# key(키)에 해당하는 value(값)도 같이 가져오고 싶다면 튜플 언패킹을 사용
for key,value in 딕셔너리.items():
    print("{0} : {1}".format(key, value))

하나 : one
둘 : two
셋 : three

range : 특정 범위(연속하는 수열)를 생성하기 위해 사용<br>
- range(시작값, 종료값, 연속하는 두 수의 차)
- range(start, stop, step)

생성된 range의 마지막 요소는 종료값보다 한 단계 작다(stop-1)

In [4]:
str = 'hello world'
str[0:11:2]

'hlowrd'

In [ ]:
# 시작 값 : 0, 종료 값 : 5, 연속하는 두 수의 차 : 1
for a in range(0, 5, 1):
    print(a)

0
1
2
3
4

In [ ]:
# 시작 값 : 0, 종료 값 : 10, 연속하는 두 수의 차 : 2
for a in range(0, 10, 2):
    print(a)

0
2
4
6
8

In [ ]:
# 시작 값 : 0, 종료 값 : 5, 연속하는 두수의 차 : 생략(=1)
for a in range(0, 5):
    print(a)

0
1
2
3
4

In [ ]:
# 종료값만 입력하여 호출
# 시작 값 : 생략(=0), 종료 값 : 5, 연속하는 두 수의 차 : 생략(=1)
for a in range(5):
    print(a)

0
1
2
3
4

In [ ]:
# 연속하는 두 수의 차를 마이너스로 둘 수도 있다. 
# 시작 값과 종료 값 보다 크게 해야 한다
# 시작 값 : 10, 종료 값 : 5, 연속하는 두 수의 차 : -1
for a in range(10, 5, -1):
    print(a)

10
9
8
7
6

for 문에 사용될 수 있는 시퀀스형 자료 : 문자열, 리스트, 튜플 등<br>
__ iter __ , __ next __ 메서드로 사용해 순회 가능<br>
iter() 함수, next() 함수로도 실행 가능<br>
iter() 함수 : 값을 차례대로 반환할 수 있는 이터레이터 객체로 반환<br>
next() 함수 : 이터레이터에서 값을 가져온다 <br>
<br>
범위가 넘어가는 것을 호출했을 경우에 `StopIteration` 에러가 발생됩니다. <br>
`StopIteration`을 만나면 반복문이 종료

In [ ]:
listx= [100,200,300,400]
strx= 'abcd'
dictx = {'one':1, 'two':2}

listxlter = iter(listx)
strxlter= iter(strx)
dictxlter= iter(dictx)

# 시퀀스형 자료형에만 next가 되는 것이 아니고 
# next 다음 순회 값을 지정할 뿐입니다.
print(next(listxlter), next(listxlter), next(listxlter), next(listxlter))
print(next(strxlter), next(strxlter), next(strxlter), next(strxlter))
print(next(dictxlter), next(dictxlter))

100 200 300 400
a b c d
one two

## 1.2 for, else
if문 뿐만 아니라 for에서도 else를 사용할 수 있다. <br>
else는 루프가 정상 종료되었을 때, 처음부터 자료형이 비어있었을 때 실행됩니다. <br>
break문을 만나면 else 문을 실행하지 않고 빠져나옵니다.

In [ ]:
for i in range(100):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
     print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
5 물고기를 잡았습니다.
만선입니다. 물고기를 다 잡았습니다.
수고하셨습니다.

In [ ]:
for i in range(5):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.
수고하셨습니다.

## 1.3 지능형 리스트(list comprehension)
가장 많이 사용되는 list 생성 기법입니다.

In [5]:
#1
x= [i for i in range(1, 10)]
print(x)

x2 = []
for i in range(1,10):
    x2.append(i)
print(x2)

#2
y=['{}X{}={}'.format(i, j, i*j) for i in range(2, 10) for j in range(1, 10)]
print(y)

y2 = []
for i in range(2,10):
    for j in range(1,10):
        y2.append('{}X{}={}'.format(i, j, i*j))
print(y2)

#3
def sumthingFunction(i):
    if i % 100 ==0:
        return i
    else:
        return 0

기존리스트= [100,200,300,101,202,303]
새로운리스트= [sumthingFunction(i) for i in 기존리스트]
print(sum(새로운리스트))

새로운리스트2 = []
for i in 기존리스트:
    새로운리스트2.append(sumthingFunction(i))
print(sum(새로운리스트2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['2X1=2', '2X2=4', '2X3=6', '2X4=8', '2X5=10', '2X6=12', '2X7=14', '2X8=16', '2X9=18', '3X1=3', '3X2=6', '3X3=9', '3X4=12', '3X5=15', '3X6=18', '3X7=21', '3X8=24', '3X9=27', '4X1=4', '4X2=8', '4X3=12', '4X4=16', '4X5=20', '4X6=24', '4X7=28', '4X8=32', '4X9=36', '5X1=5', '5X2=10', '5X3=15', '5X4=20', '5X5=25', '5X6=30', '5X7=35', '5X8=40', '5X9=45', '6X1=6', '6X2=12', '6X3=18', '6X4=24', '6X5=30', '6X6=36', '6X7=42', '6X8=48', '6X9=54', '7X1=7', '7X2=14', '7X3=21', '7X4=28', '7X5=35', '7X6=42', '7X7=49', '7X8=56', '7X9=63', '8X1=8', '8X2=16', '8X3=24', '8X4=32', '8X5=40', '8X6=48', '8X7=56', '8X8=64', '8X9=72', '9X1=9', '9X2=18', '9X3=27', '9X4=36', '9X5=45', '9X6=54', '9X7=63', '9X8=72', '9X9=81']
['2X1=2', '2X2=4', '2X3=6', '2X4=8', '2X5=10', '2X6=12', '2X7=14', '2X8=16', '2X9=18', '3X1=3', '3X2=6', '3X3=9', '3X4=12', '3X5=15', '3X6=18', '3X7=21', '3X8=24', '3X9=27', '4X1=4', '4X2=8', '4X3=12', '4X4=16', '4X5=20', '4X6=24', '4X7=28', '4X8=32', '4X9=36', '5X1=5', '5X2=10', '5X3=15', '5X4=20', '5X5=25', '5X6=30', '5X7=35', '5X8=40', '5X9=45', '6X1=6', '6X2=12', '6X3=18', '6X4=24', '6X5=30', '6X6=36', '6X7=42', '6X8=48', '6X9=54', '7X1=7', '7X2=14', '7X3=21', '7X4=28', '7X5=35', '7X6=42', '7X7=49', '7X8=56', '7X9=63', '8X1=8', '8X2=16', '8X3=24', '8X4=32', '8X5=40', '8X6=48', '8X7=56', '8X8=64', '8X9=72', '9X1=9', '9X2=18', '9X3=27', '9X4=36', '9X5=45', '9X6=54', '9X7=63', '9X8=72', '9X9=81']
600
600

## 1.4 다중 리스트 순회
여러개의 값을 한꺼번에 받아 순회 가능

In [ ]:
#다중 리스트 for문
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i,j in skill:
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [ ]:
#하나만 리스트여도 쌍이면 상관없이 잘 돌아감    
skill = [
        ('고기잡이', 100, 'SS'),
        ['고기팔기', 120, 'SSS'],
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

## 1.5 enumerate
enumerate는 순서를 매길 때 사용

In [ ]:
# enumerate
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for i, (skillName, skillLevel, skillGrade) in enumerate(skill):
    print(i, skillName, skillLevel, skillGrade)

for i, j in enumerate(skill, 100):
    print(i, j)

0 고기잡이 100 SS
1 고기팔기 120 SSS
2 낚시 5 C
3 통발 5 C
4 큰그물 5 C
100 ('고기잡이', 100, 'SS')
101 ('고기팔기', 120, 'SSS')
102 ('낚시', 5, 'C')
103 ('통발', 5, 'C')
104 ('큰그물', 5, 'C')

# 2. while문
조건이 참인 동안에 명령을 반복해서 수행<br>
반복할 명령은 들여쓰기로 구분<br>
조건이 거짓이면 들여쓰기로 구분되어 있는 반복 구문을 탈출<br>

In [ ]:
# while문의 구조
while 조건문 :
	수행할 문장1
	수행할 문장2

In [ ]:
a = 1
while a < 10 :
	print(a)
	a += 1 # 할당연산 -> a=10 되면 조건이 거짓->루프 탈출

1
2
3
4
5
6
7
8
9

## 2.1 무한반복 while, break
break는 흐름을 끊어 중단할 때 사용<br>
특정 코드를 반복하고자 for, while 문을 이용하여 반복문(loop)을 만들었다면 break 문을 사용하여 반복문을 중단할 수 있다.

In [ ]:
숫자 = 0
while True:
	print("현재 숫자는 ", 숫자, "입니다.")
	숫자 += 1
	if 숫자 > 5:
		print("반복문을 종료합니다.")
		break

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.
현재 숫자는  4 입니다.
현재 숫자는  5 입니다.
반복문을 종료합니다.

## 2.2 while, else
아래의 코드에서 주석 처리된 부분을 풀어보시고 주석이 될 때와 되지 않을 때를 비교해보세요.

In [ ]:
숫자 = 0
while 숫자 < 5:
    print("현재 숫자는 ", 숫자, "입니다.")
    숫자 += 1
    # if 숫자 > 3:
    #     break
else:
    print('반복문을 종료합니다.')

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.
현재 숫자는  4 입니다.
반복문을 종료합니다.

# 3. break
break는 흐름을 끊어 중단할 때 사용<br>
break 구문은 바로 위의 for나 while문만 탈출<br>
반복문(loop) 순회 중에 break 문을 만나면 반복문의 내부 블록을 벗어나게 된다.

In [ ]:
# 어떠한 장치 없이 break를 넣으면 반복문이 반복하지 않음
# 예제1(while)
while 조건:
	반복 실행할 코드
	break # while 구문을 탈출

# 예제1(for)
for 변수 in 범위:
	break # for 반복문 탈출

In [ ]:
# 조건 안에 넣어 실행
# 예제2(while)
while 조건:
	반복 실행할 코드
	if 조건:
		break # while 구문을 탈출

# 예제2(for)
for 변수 in 범위:
	반복 실행할 코드
	if 조건 :
		break # for 반복문 탈출

In [ ]:
시간 = 0
현재시간 = int(input("시(hour)를 입력해주세요. "))
종료시간 = 18
if 현재시간 > 종료시간:
    print('영업시간이 끝났기 때문에 영업을 종료합니다.')
else:
    while True:
        시간 += 1
        현재시간 += 1
        print('{}시간이 지나 {}시가 되었습니다'.format(시간,현재시간))
        if 현재시간 == 종료시간:
            print('영업 종료시간이 되었기 때문에 영업을 종료합니다.')
            break

시(hour)를 입력해주세요. 14
1시간이 지나 15시가 되었습니다
2시간이 지나 16시가 되었습니다
3시간이 지나 17시가 되었습니다
4시간이 지나 18시가 되었습니다
영업 종료시간이 되었기 때문에 영업을 종료합니다.

In [ ]:
# 중첩 반복문에서 바로 위에 반복문만 탈출
for i in range(2, 10):
    for j in range(1, 10):
        if j > 5:
            break
        print(f'{i} X {j} = {i*j}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45

# 4. continue, pass
continue와 pass는 구분해서 사용을 해야 하니 차이점을 잘 정리해 두세요.
- continue(계속하다) : 반복문이 실행하는 코드 블록의 나머지 부분을 실행하지 않고 다음 반복으로 건너가게 흐름을 조정합니다.

  반복문 순회 도중 continue문을 만날 시 continue문은 이후의 나머지 반복문 내부 코드 블록을 실행하지 않고 다음 아이템을 선택하여 반복문의 내부 코드 블록 시작 부분으로 이동<br>
  break와 마찬가지로 조건이 없이 continue를 사용하는 것은 큰 의미가 없으므로 주로 조건문을 달아 사용
- pass(지나치다) : 단순히 실행할 코드가 없다는 것을 의미 -> 아무런 동작을 하지 않고 다음 코드를 실행

In [ ]:
# 예제1(while)
while 조건:
    반복 실행할 코드
    continue #while 다음 반복문 수행
    반복 실행할 코드 # continue 사용시 무시되는 코드
    
# 예제2(for)
for 변수 in 범위:
    반복 실행할 코드
    continue #for 다음 반복문 수행
    반복 실행할 코드 # continue 사용시 무시되는 코드

In [ ]:
# 예제1(while)
while 조건:
    반복 실행할 코드
    if 조건 :
        continue #while 다음 반복문 수행
    반복 실행할 코드 # continue 사용시 무시되는 코드

# 예제2(for)
for 변수 in 범위:
    반복 실행할 코드
    if 조건:
        continue # for 다음 반복문 수행
    반복 실행할 코드 # continue 사용시 무시되는 코드

In [ ]:
#continue
구매개수_총가격= [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
]

for 구매개수, 총가격 in 구매개수_총가격:
    if 구매개수 < 1:
        continue # 다음 반복으로 넘어감
    print('구매개수는 {}개이며 {}원입니다.'.format(구매개수, 총가격))

구매개수는 3개이며 15000원입니다.
구매개수는 5개이며 25000원입니다.
구매개수는 1개이며 5000원입니다.
구매개수는 8개이며 40000원입니다.
구매개수는 2개이며 10000원입니다.

In [ ]:
#pass
구매개수_총가격= [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
    ]
for 구매개수, 총가격 in 구매개수_총가격:
    if 구매개수 < 1:
        pass # 그냥 지나쳐 아래 코드 실행
    print('구매개수는 {}개이며 {}원입니다.'.format(구매개수, 총가격))

구매개수는 3개이며 15000원입니다.
구매개수는 5개이며 25000원입니다.
구매개수는 1개이며 5000원입니다.
구매개수는 8개이며 40000원입니다.
구매개수는 0개이며 0원입니다.
구매개수는 2개이며 10000원입니다.

# 5. else
반복문의 else는 if에서의 else처럼 '그렇지 않으면'이라는 의미 보다는 '그런 다음'이라는 의미가 더 강하기 때문에 than으로 쓰여야 된다는 논의가 있었습니다.<br>
반복문이 break 등에 의해 중단없이 정상적으로 반복이 종료된 후 특정 코드를 실행하게 해야할 때 while ~ else, for ~ else를 사용할 수 있습니다.

In [ ]:
while 조건:
	반복 실행할 코드
else:
	while 반복문이 모두 실행되어 종료되고 실행할 코드

In [ ]:
for 변수 in 범위:
	반복 실행할 코드
else:
	for 반복문이 모두 실행되어 종료되고 실행할 코드

In [ ]:
#for, else문
# break문 없이 정상 종료되었을 때에는 else문이 실행
for i in range(5, 0, -1):
    print("고등어 ", i, " 개 남았습니다.")
else:
    print('고등어 다 팔렸습니다.')

고등어  5  개 남았습니다.
고등어  4  개 남았습니다.
고등어  3  개 남았습니다.
고등어  2  개 남았습니다.
고등어  1  개 남았습니다.
고등어 다 팔렸습니다.

In [ ]:
# break문이 있을 때
# break문에 걸릴 때는 else문을 실행하지 않음
for i in range(5, 0, -1):
    print("고등어 ", i, " 개 남았습니다.")
    if i == 1:
        break
else:
    print('고등어 다 팔렸습니다.')

고등어  5  개 남았습니다.
고등어  4  개 남았습니다.
고등어  3  개 남았습니다.
고등어  2  개 남았습니다.
고등어  1  개 남았습니다.

In [ ]:
if 조건:
	조건이 참일 경우 실행문
else:
	조건이 거짓 일 경우 실행문

In [ ]:
i = 2
if i < 4:
    print('i는 4보다 작습니다')
else:
    print("i는 4보다 크거나 같습니다")

i는 4보다 작습니다

In [ ]:
# try ~ except ~ else문 : else는 예외가 발생하지 않을 때 사용
try:
	실행문
except:
	예외 발생 시 처리문
else:
	예외 발생하지 않을 경우 실행문

In [ ]:
try:
    i = 1
    j = 1 #0
    x = i/j
except:
    print("error")
else:
    print(x)

1.0

# 6. 중첩 반복문
반복문 내부에 또 다른 반복문이 있을 경우, 중첩되었다고 말함 <br>
중첩 반복문 : 반복문 안에 반복문이 들어가 중첩된 것 <br>
중첩 반복문에서는 종료되는 값을 항상 확인하세요.

In [ ]:
i = 2
while i < 10 : # 구구단의 단
    k = 1 # k 초기화
    while k < 10: # 순차적으로 반복될 곱의 수
        print(i, " * ", k, " = ", i * k)
        k += 1 # 반복할 때마다 반복될 곱의 수에 1을 더함
    i += 1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [ ]:
for i in range(2,10):
    print("---{0}단---".format(i))
    for k in range(1,10): # k의 값이 for문 안에서 자동으로 초기화
        print(i,"*",k,"=",i*k)

---2단---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---3단---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---4단---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---5단---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---6단---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---7단---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---8단---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---9단---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81